.customSwiper.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.customSwiper .swiper-slide {
    transition: all 0.5s;
  }
.customSwiper .swiper-button-next,
.customSwiper .swiper-button-prev
{
  font-size: 2rem;
  color: #f5f5f5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.customSwiper.swiper .swiper-button-next:hover,
.customSwiper.swiper .swiper-button-prev:hover {
  color: #999;
}
.customSwiper.swiper:hover .swiper-button-next,
.customSwiper.swiper:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
}
.customSwiper.swiper .swiper-button-disabled {
    /* opacity: 0;
    visibility: hidden; */
    display: none;
}
.customSwiper .swiper-pagination-bullet{
  width: .5rem;
  height: .3rem;
  border-radius: unset;
  border-radius: .4rem;
}
.customSwiper .swiper-pagination-bullet-active{
  width: 1.5rem;

}
