
.admin{
  display: flex;
  width: 100%;
  height: 100vh;
}
.admin__main{
position: absolute;
width: calc(100% - 30rem);
min-height: 100vh;
right: 30rem;
transition: all .3s;
background: var(--white);
padding: 0 2rem;
}
.admin__main.active{
  width: calc(100% - 6rem);
  right: 6rem;
}
.admin__header {
width: 100%;
  height: 6rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin__menuIcon{
  font-size: 2.4rem;
  cursor: pointer;
  color: var(--gray-text);
}
.adminSearch{
  width: 30rem;
  position: relative;
  height: 4rem;
  border-radius: var(--border-btn);
  overflow: hidden;
  border: 1px solid var(--gray-50);
}
.adminSearch input{
  border: none;
  outline: none;
  padding: .5rem 1rem;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  color: var(--gray-text);
}
.adminSearch__icon{
  position: absolute;
  top: 50%;
  left: 0.7rem;
  font-size: 2rem;
  color: var(--gray-text);
  transform: translateY(-50%);
}

.admin__headerLink {
  margin-right: 1.5rem;
  border-radius: 1rem;
  display: block;
  position: relative;
}
.admin__notifications {
}
.admin__notifications::after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--red);
}
.admin__headerIcon {
  font-size: 2.4rem;
  color: var(--gray-100);
  display: inline-block;
  vertical-align: middle;
}
.admin__headerProfileBox {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  margin-right: 1.5rem;
}
.admin__headerProfile {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
