
.productBox__content{
  padding:1.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.product__title {
  font-size: 1.3rem;
  height: 4rem;
  line-height: 1.8;
  font-family: var(--iran-bold);
  color: var(--black-50);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s;
}

.product__title:hover {
  color: #777;
}
.product__quickAccessBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__rightBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1rem;
}
.product__addToBasketBox {
  width: 3rem;
  height: 3rem;
  color: #999;
  font-size: 1.7rem;
  padding: 0.1rem;
  border-radius: 50%;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.product__addToBasketBox:hover {
  background: var(--blue);
  color: var(--white);
}

.product__iconBox {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.9rem;
  color: #666;
}
.favorite__icon{
  transition: all .3s;
  width: 1.9rem;
  height: 1.9rem;
}
.is--favorite{
  fill: var(--red);
}
.favorite__icon:hover{
  color: var(--red);
}
.cursor{
  cursor: pointer;
}
.product__leftBox {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
/* responsiv */
@media screen and (max-width: 57rem) {
  .product__rightBox{
    padding-right: 0;
  }
}

