.formControl__wrapper {
  width: 100%;
  margin-bottom: 2.5rem;
  user-select: none;
  position: relative;
}
.formControl__label {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #666;
  display: flex;
  align-items: center;
  position: absolute;
  background: var(--white);
  padding: 0 1rem;
  top: -1rem;
  right: 2rem;
  z-index: 10;
}
.formControl__label.label--invalid {
  color: var(--red);
}
.formControl__box {
  height: 4.2rem;
  width: 100%;
  position: relative;
}
.formControl--invalid {
  border-color: var(--red);
}
.uploader {
  border: 2px solid var(--gray);
  border-radius: var(--border-box);
  box-shadow: 0 1.2rem 1rem -1rem rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1rem;
  width: 100%;
  background: var(--white);
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploader__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray-50);
}
.uploader__icon {
  font-size: 3.2rem;
  color: var(--blue);
  margin-bottom: 1.5rem;
}
.uploader__input {
  display: none;
}
.uploader__progress {
  width: 100%;
  height: 0;
  background: var(--gray-50);
  border-radius: 2rem;
  margin-top: 3rem;
  position: relative;
  overflow: hidden;
}
.uploader__progress--show {
  height: 0.6rem;
}
.uploader__progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  background: var(--green);
  border-radius: 2rem;
}
.uploader__btn {
  margin: 2rem auto;
  width: 14rem;
  height: 3.6rem;
  border: none;
  outline: none;
  background: var(--blue);
  color: var(--white);
  border-radius: var(--border-box);
  font-size: 1.4rem;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
  display: none;
}
.uploader__btn--show {
  display: block;
}
.uploader__btn:hover {
  background: var(--blue-hover);
}
.uploadResult__wrapper {
  margin: 2rem 0;
  width: 100%;
}
.upload__resultText {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.3rem;
  color: var(--green);
}
.upload__showImages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.upload__previewImage {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
}
.upload__previewImage:not(:first-child) {
  margin-left: 0.5rem;
}

.input,
.textarea,
.select {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1.5rem;
  color: var(--gray-text);
  font-size: 1.2rem;
  font-family: var(--Iran-bold);
  border: 2px solid var(--gray);
  outline: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-box);
}
.ck.ck-editor {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: 0 1.2rem 1rem -1rem rgba(0, 0, 0, 0.3);
}
.ck-editor__editable {
  min-height: 12rem;
  direction: rtl;
}
.checkbox__wrapper{
  position: relative;
}
.checkbox {
width: 100%;
height: 4.2rem;
background: var(--white);
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 1.4rem;
box-shadow: var(--box-shadow);
border-radius: var(--border-box);
position: relative;
border: 2px solid var(--gray);
}
.checkbox.formControl--invalid{
border-color: var(--red);
}
.checkbox__header {
font-size: 1.3rem;
color: var(--gray-text);
}
.checkbox__lists {
position: relative;
width: 100%;
margin-top: 1.5rem;
background: var(--white);
border-radius: var(--border-box);
box-shadow: var(--box-shadow);
padding: 1.2rem;
display: none;
z-index: 30;
}
.checkbox__lists--show{
  display: block;
}
.checkbox__item {
color: var(--gray-text);
line-height: 2.4;
display: flex;
align-items: center;
transition: all 0.3s;
border-radius: var(--border-box);
padding: 0 1rem;
font-size: 1.3rem;
cursor: pointer;
}
.checkbox__item:hover {
background: var(--gray);
}
.checkbox__item input[type="checkbox"]{
display: none;
}
.checkbox__label{
width: 100%;
margin-right: 1rem;
cursor: pointer;
display: flex;
align-items: center;
position: relative;
user-select: none;
}
.checkbox__label::before{
content: "";
width: 1.6rem;
height: 1.6rem;
border-radius: .4rem;
border: 1.5px solid #c0c0c0;
margin-left: 1rem;
transition: all .3s;

}
.checkbox__label::after{
content: "\1F5F8";
width: 1.6rem;
height: 1.6rem;
line-height: 1.6;
font-size: 1.6rem;
font-weight: 900;
position: absolute;
right: 0.2rem;
transition: all .3s;
  transform: scale(0);
}
.checkbox__item input[type="checkbox"]:checked + label.checkbox__label::before{
background: var(--blue);
}
.checkbox__item input[type="checkbox"]:checked + label.checkbox__label::after{
color: var(--white);
transform: scale(1);
}

.textarea {
  resize: none;
  height: 15rem;
}

.input:focus,
.select:focus,
.textarea:focus {
  border-color: var(--blue);
}
.formControl__icon {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.password__status {
  position: absolute;
  top: 50%;
  left: 1rem;
  font-size: 2rem;
  color: var(--gray-50);
  z-index: 3;
  transform: translateY(-50%);
}
.auth__error {
  display: inline-block;
  margin-top: 1.2rem;
  font-size: 1rem;
  padding-right: 1.5rem;
  font-weight: 600;
  color: var(--red);
}
.dropdown__icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--gray-text);
}
.dropdownIcon {
  width: 2.1rem;
  height: 2.1rem;
  line-height: 2.1;
  background: var(--gray-50);
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--white);
}
.dropdown__icon--rotate {
  transform: translateY(-50%) rotate(180deg);
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black-50);
  box-shadow: 0 1.2rempx 1000px #fff inset;
  /* transition: background-color 5000s ease-in-out 0s; */
}

.ck-content {
  border: none;
}
@media (max-width: 768px) {
  .auth__wrapper {
    width: 100%;
  }
}
