.formControl__wrapper {
  width: 100%;
  margin-bottom: 1rem;
  user-select: none;
}
.formControl__label {
  font-size: 1.3rem;
  color: #666;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.formControl__box {
  position: relative;
}

.uploader {
  border: 1px solid var(--gray);
  border-radius: var(--border-box);
  box-shadow: 0 1.2rem 1rem -1rem rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1rem;
  width: 100%;
  background: var(--white);
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploader__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray-50);
}
.uploader__icon {
  font-size: 3.2rem;
  color: var(--blue);
  margin-bottom: 1.5rem;
}
.uploader__input {
  display: none;
}
.uploader__progress{
  width: 100%;
  height: 0;
  background: var(--gray-50);
  border-radius: 2rem;
  margin-top: 3rem;
  position: relative;
  overflow: hidden;
}
.uploader__progress--show{
  height: 0.6rem;

}
.uploader__progressbar{
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  background: var(--green);
  border-radius: 2rem;
}
.uploader__btn{
  margin: 2rem auto;
  width: 14rem;
  height: 3.6rem;
  border: none;
  outline: none;
  background: var(--blue);
  color: var(--white);
  border-radius: var(--border-box);
  font-size: 1.4rem;
  transition: all .3s;
  cursor: pointer;
  overflow: hidden;
  display: none;
}
.uploader__btn--show{
  display: block;

}
.uploader__btn:hover{
  background: var(--blue-hover);
}

.input,
.textarea,
.select,
.checkbox {
  width: 100%;
  height: 3.6rem;
  border: none;
  border-bottom: 1px solid var(--gray);
  box-shadow: 0 1.2rem 1rem -1rem rgba(0, 0, 0, 0.3);
  padding: 0.8rem 1rem 0.8rem 1.7rem;
  color: var(--black-50);
  font-size: 1.3rem;
  font-family: var(--Iran-bold);
  /* border-radius: var(--border-box); */
  outline: none;
}
.ck.ck-editor{
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: 0 1.2rem 1rem -1rem rgba(0, 0, 0, 0.3);
}
.ck-editor__editable{
  min-height: 12rem;
  direction: rtl;
}
.select {
  appearance: none;
}

.select:focus {
  outline: none;
}
.option {
  background: var(--white);
  border: none;
  outline: none;
  color: var(--gray-50);
  font-size: 1.3rem;
  transition: all 0.3s;
  padding: 0.3rem 0;
}
.checkbox {
  position: relative;
}
.checkbox__lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.6rem;
  box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: var(--border-box);
  padding-right: .5rem;
  background: #fbfbfb;
}

.checkbox__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}
.checkbox__label {
  margin-right: 1rem;
}
.checkbox__item .checkboxInput {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  appearance: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.5);
}
.checkbox__item .checkboxInput::before {
  content: "✓";
  color: var(--blue-hover);
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  z-index: 10;
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
  position: relative;
  right: 110%;

}
.checkbox__item .checkboxInput:checked::before{
  visibility: visible;
  opacity: 1;
} 
.textarea {
  resize: none;
  height: 15rem;
}
.formControl--invalid {
  border-bottom: 1px solid var(--red);
  box-shadow: 0 1.2rem 1rem -1rem rgba(241, 52, 38, 0.3);
}
.input:focus,
.select:focus,
.textarea:focus {
  border-bottom: 1px solid var(--blue);
  box-shadow: 0 1.2rem 1rem -1rem rgba(1, 131, 255, 0.4);
}
.formControl__icon {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  color: var(--gray-50);
  z-index: 3;
}
.auth__error {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--red);
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black-50);
  box-shadow: 0 1.2rempx 1000px #fff inset;
  /* transition: background-color 5000s ease-in-out 0s; */
}
.ck-content{
  border: none;
}
@media (max-width: 768px) {
  .auth__wrapper {
    width: 100%;
  }
}
