.panelBox {
  width: 100%;
  background: linear-gradient(
      100.06deg,
      #000000 31.35%,
      #2e2e2e 85.26%,
      #000000 98.28%
    ),
    #1e1e1e;
  padding: 1rem;
  border-radius: var(--admin-border);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem 2rem;
  backdrop-filter: blur(1rem);
  position: relative;
  overflow: hidden;
}
.panelBox::before{
    content: "";
    background: url(/public/images/adminPanel/aminItemShape.png) no-repeat center;
    background-size: cover;
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: -1rem;
    bottom: -1rem;
    z-index: -10;
   
}
.panelBox__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}
.panelBox__title {
  font-size: 1.3rem;
  color: #b8b8b8;
}
.panelBox__amount {
  font-size: 1.3rem;
  margin: 1rem 0;
}
.panelBox__amount span {
  margin-right: 0.5rem;
  font-size: 85%;
}
.panelBox__dataInfo {
  color: #b8b8b8;
  font-size: 1.2rem;
  margin-left: 1.2rem;
}
.profitDetails {
  direction: ltr;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(12, 255, 226, 0.33);
  border-radius: 0.8rem;
  padding: 0.3rem 0.7rem;
  color: var(--admin-green);
}
.profitDetails span {
  margin: 0 0.2rem;
}
