.userSetting{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-box);
    width: 100%;
    padding: 2rem 1rem;
}
.userSetting__btn{
    background-color: var(--gray-75);
    color: var(--white);
    transition: all .3s;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: var(--border-box);
    margin: 0 2rem;
}
.userSetting__btn:hover{
    background-color: var(--blue);
}