.admin__form{
  width: 100%;
  padding: 0 .7rem;
}

.btn__wrapper {
    justify-content: flex-end;
  }
 
  .btn--active {
    cursor: pointer;
    background: var(--blue);
  }
  .btn--active:hover {
    background: var(--blue-hover);
  }
 
  