.admin__form{
  width: 100%;
  padding: 0 .7rem;
}

.btn__wrapper {
    justify-content: flex-end;
  }
  .admin__btn {
    display: inline-block;
    text-align: center;
    width: 12rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    transition: all 0.3s;
    color: var(--white);
    border-radius: var(--border-box);
    margin-left: 4rem;
  }
  .btn--active {
    cursor: pointer;
    background: var(--blue);
  }
  .btn--active:hover {
    background: var(--blue-hover);
  }
 
  