.productsCategory__sortedBox {
  background: var(--white);
  border-radius: var(--border-box);
  height: 4rem;
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 1.2rem;
  font-size: 1.2rem;
}

.sort__icon,
.filter__icon {
  color: var(--black-50);
  cursor: pointer;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.productsCategory__sortWrapper {
  width: 20rem;
  cursor: pointer;
  color: var(--black-50);
  background: var(--white);
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: var(--border-box);
}
.productsCategory__showedBox {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productsCategory__title {
  font-size: 1.2rem;
  line-height: 3rem;
}
.productsCategory__icon {
  font-size: 1.8rem;
}
.productsCategory__sorteLists {
  padding: 0.5rem 0;
  border-radius: var(--border-box);
  width: 0;
  transition: all 0.3s;
  overflow-y: scroll;
  position: absolute;
  top: calc(100% + 0.2rem);
  right: 0;
  background: var(--white);
  z-index: 10;
  width: 22rem;
  display: none;
}
.productsCategory__sorteLists--show {
  display: block;
}
.productsCategory__sorteLists::-webkit-scrollbar {
  display: none;
}
.productsCategory__sorteItem {
  font-size: 1.2rem;
  border: 1px solid #f5f5f5;
  padding: 0.4rem 1rem;
  margin: 0.5rem 0;
  border-radius: var(--border-box);
}
.filterMobile__btn {
  display: flex;
  align-items: center;
}

/* ////////////////////////////////// */
.pageTitle {
  display: block;
  color: #333;
  font-size: 1.5rem;
  height: 3.8rem;
}
.pageTitle__box {
  display: flex;
  position: relative;
}
.pageTitle__rightBox {
  background: var(--main-backgroundColor);
  line-height: 3.8rem;
  display: flex;
  align-items: center;
}
.pageTitle__icon {
  font-size: 2.2rem;
  display: inline-block;
  margin-left: 1rem;
}
.pageTitle__title {
  padding-left: 1.5rem;
}
.pageTitle__divider {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 0.4rem;
  width: 100%;
  border-top: 2px dotted #c8c9cd;
  z-index: -1;
  margin-top: -0.15rem;
}
/* responsive */
@media (max-width: 576px) {
  .productsCategory__sortWrapper {
    width: 17rem;
  }
}
@media (max-width: 991px) {
  .lg--none {
    display: none;
  }
}
@media (min-width: 992px) {
  .filterMobile__btn {
    display: none;
  }
}
