.login__checkbox {
  display: flex;
  align-items: center;
}
.login__checkboxText {
  font-size: 1.1rem;
  color: var(--black-50);
  font-family: var(--iran-bold);
  font-weight: 500;
  margin-right: 0.5rem;
}
.login__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 52rem;
  padding: 0 0.8rem;
  margin-bottom: 1rem;
}

.login__forget {
  color: #848484;
  border: none;
  font-size: 1.2rem;
  outline: none;
  background: transparent;
  font-family: var(--iran-bold);
}
.login__forget:hover {
  color: var(--blue);
}


.login__registerLink {
  color: var(--blue);
  padding-right: 0.7rem;
}
