
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.navbar__menu {
    width: 100%;
    height: 100%;
  }
  .menus {
    display: flex;
    align-items: center;
    height: 3rem;
  }
  .menus__item {
    margin-left: 2rem;
    display: block;
    position: relative;
    transition: all 0.3s;
    padding: 0 0.2rem;
    height: 100%;
  }
  .menus__link {
    font-family: var(--iran-bold);
    font-size: 1.2rem;
    color: var(--black-50);
    display: flex;
    align-items: center;
    transition: all 0.3s;
    white-space: nowrap;
    height: 100%;
  
  }
  
  .menus__link:hover {
    color: var(--blue);
  }
  .menus__text{
    margin:0 .6rem;
  }
  .submenu {
    position: absolute;
    top: calc(100% + 2rem);
    right: 0;
    background: var(--white);
    width: 15rem;
    z-index: 10;
    padding: 1rem 1.5rem 1rem 1rem;
    border-radius: var(--border-box);
    border-top: 0.25rem solid var(--blue);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .menus__item:hover > .submenu {
    opacity: 1;
    visibility: visible;
    top: calc(100% + .8rem);
  }
  .submenu__item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .submenu__Link,
  .submenu__link-leftmenu {
    font-family: var(--iran-bold);
    font-size: 1.3rem;
    color: var(--black-50);
    transition: all 0.3s;
    display: block;
  }
  .submenu__Link:hover,
  .submenu__link-leftmenu:hover {
    color: var(--blue);
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .contact__number {
    font-family: var(--iran);
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contact__number strong {
    margin-left: 0.7rem;
    color: var(--black-50);
  }
  .contact__number span {
    color: var(--blue);
  }
  .header__phoneBox {
    margin-right: 0.5rem;
    width: 2.4rem;
    height: 2.4rem;
  }
  .contact__icon {
    color: #363F47;
    font-size: 2.5rem;
    animation: ringring .2s 5s linear infinite alternate;
  }
  /* animation */
  @keyframes ringring{
    0%,100%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(20deg);
    }
  }