.information {
  width: 100%;
  background: var(--white);
  border-radius: var(--border-box);
  box-shadow: var(--box-shadow);
  padding: 1rem 1.5rem;
  color: var(--gray-100);
  font-size: 1.1rem;
  margin: 1.5rem 0;
}
.useDiscount {
  background: #d9f1f7;
  color: #00a5ce;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: var(--border-box);
}

.useDiscount__icon {
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.6rem;
}
.useDiscount__showContent {
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 0.5rem;
}
.useDiscount__showContent:hover {
  color: #00a5ce;
}

.purchaerDetails__title,
.detailsOrder__title {
  font-size: 1.3rem;
  color: var(--black-50);
  padding: 1rem 0;
}
.purchaerDetails__label {
  padding: 0.5rem 0;
  display: block;
  font-size: 1.2rem;
}
.mandatory__label {
  position: relative;
}
.mandatory__label::after {
  content: "*";
  height: 1.2rem;
  display: inline-block;
  color: var(--red-50);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0.5rem;
}
.orders {
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: var(--border-box);
}
.orders__table {
  width: 100%;
  text-align: right;
  background: #e8deed1c;

  padding: 1rem 1.5rem;
}
.orders__table th {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}
.orders__table td {
  padding: 1rem;
  vertical-align: middle;
}
.orders__table tbody tr,
.orders__table tfoot tr:not(:last-child) {
  border-bottom: 1px solid var(--gray);
}
.orders__table tfoot {
  margin-top: 0.5rem;
}
.orders__table .productPrice {
  font-size: 1.2rem;
}
.orders__table tfoot td {
  border-right: 1px solid var(--gray);
}
.submit__order {
  margin: 1.5rem 0;
  border: 1px solid var(--gray);
  border-radius: var(--border-box);
  padding: 1rem;
}


.orderBtn {
  display: block;
  background: #9e9e9e;
  text-align: center;
  padding: 0.7rem;
  border-radius: var(--border-box);
  margin: 1rem 0;
  transition: all 0.3s;
  color: var(--white);
  font-size: 1.3rem;
  border: none;
  width: 100%;
}
.orderBtn--active {
  cursor: pointer;
  background: var(--blue);
}
.orderBtn--active:hover {
  background: var(--blue-hover);
}
