.reviewForm__wrapper {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  color: var(--black-50);
}
.reviewForm {
  font-family: var(--Iran-number);
}

.reviewForm__form {
  padding: 1.5rem 0;
}

.reviewForm__commentTitle {
  margin-bottom: 0.5rem;
}


.reviewForm__submit {
  color: var(--white);
  background: #353a42;
  border: none;
  outline: none;
  padding: .7rem 3rem;
  border-radius: var(--border-box);
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s;
}
.reviewForm__submit:hover {
  background: var(--blue);
}
.reatingStar__wrapper{
  margin: 1rem auto;
  display: flex;
  flex-direction: row-reverse;
}
.ratingSatr{
  font-size: 2.4rem;
}