.error__wrapper{
    width: 100%;
    height: 4rem;
    border-radius: var(--border-box);
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
}
.error__wrapper.yellow{
    background: #d9f1f7;
    color: #00a5ce;
}
.error__wrapper.red{
    background: var(--red-50);
}
.error__title{
font-family: var(--iran);
font-size: 1.2rem;

}
.error__icon{
font-size: 2.2rem;
margin: 0 2rem 0 1rem;
font-weight: bold;
}