.error__wrapper{
    width: 100%;
    height: 4rem;
    border-radius: var(--border-box);
    border: 1px solid var(--red);
    display: flex;
    align-items: center;
    background: var(--red-50);
    margin: 2.5rem 0;
}
.error__title{
font-family: var(--Iran-bold);
font-size: 1.2rem;
color: var(--red);
padding-right: 2rem;
}