
 .productGallery{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 }


.product__largeImage, .product__smallImage{
  display: inline-block;
  width: 100%;
  height:100%;
  object-fit: cover;
}
.product__smallImagesWrapper{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }  
.largSwiper .swiper-slide{
  border-radius: var(--border-box);
  overflow: hidden;
}
 .smallSwiper .swiper-slide{
  border: 2px solid var(--gray);
  border-radius: var(--border-box);
 }
 .smallSwiper .swiper-slide-thumb-active{
  border: 2px solid var(--blue);
 }