.sidebar {
<<<<<<< HEAD
    background: var(--blue);
    border-radius: var(--border-box);
    overflow: hidden;
    padding: 3rem 1rem 3rem 0;
    width:25rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
=======
    background: var(--blue-hover);
    border-radius: var(--border-box);
    overflow: hidden;
    padding: 3rem 1rem 3rem 0;
    width: 100%;
    height: 100vh;
>>>>>>> 8286f47708ee9e22b8122f0a5b174b8dcf4c78d7
}
  .sidebar__lists {
    width: 100%;
  }
  .sidebar__items {
    width: 100%;
    height: 3.5rem;
    position: relative;
    margin-bottom: 2rem;
  }
  .sidebar__items:nth-child(1) {
    margin-bottom: 2rem;
    border-radius: var(--border-box);
  }
  
  .sidebar__imgLink {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
<<<<<<< HEAD
  .sidebar__icon{
    font-size: 1.9rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
  }
=======
>>>>>>> 8286f47708ee9e22b8122f0a5b174b8dcf4c78d7
  .sidebar__img {
    display: block;
    filter: brightness(0) invert(1);
  }
  .sidebar__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--white);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
  
    /* line-height: 2.4; */
  }
  .sidebar__link:hover,
  .activedSidebar {
    background: var(--white);
    color: var(--blue-hover);
  }
  
  .sidebar__link:hover::before,
  .activedSidebar.sidebar__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: transparent;
    box-shadow: -3.5rem 3.5rem 0 1rem var(--white);
  }
  
  .sidebar__link:hover::after,
  .activedSidebar.sidebar__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: transparent;
    box-shadow: -3.5rem -3.5rem 0 1rem var(--white);
  }