.sidebar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  background: var(--white);
  width: 25%;
  transition: 0.3s;
  border-radius: 3rem;
}
.admin__mask{
  position: fixed;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.admin__mask--show{
  right: 0;
}
.sidebar__mobile {
  position: fixed;
  width: 25rem;
  top: 0;
  right: -25rem;
  bottom: 0;
  transition: 0.4s;
  background: var(--white);
  overflow: hidden;
  z-index: 300;
}
.sidebar__mobile--show {
  right: 0;
}
.sidebar__lists {
  width: 100%;
  padding: 1rem;
}
.sidebar__closeIcon {
  display: block;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: var(--black);
  font-size: 2.2rem;
  z-index: 10;
}
.sidebar__imgLink {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
}
.sidebar__img {
  display: block;
}

.sidebarItem {
  width: 100%;
  display: block;
  line-height: 3.4rem;
  position: relative;
  margin: 2rem 0;
  cursor: pointer;
}

.sidebarLink {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #99b2c6;
  border-radius: var(--admin-border);
  padding: 0 1.3rem;
  transition: all 0.3s;
}
.sidebarLink:hover,
.sidebarLink--active {
  background: var(--black);
  color: var(--white);
}

.sidebarLink__iconBox {
  display: inline-block;
  margin-left: 1.2rem;
}
.sidebarItem__mainIcon {
  font-size: 2.2rem;
  display: inline-block;
  vertical-align: middle;
}

@media(min-width:1200px){
  .sidebar{
    width: 16.6666%;
  }
}