.sidebar {
    /* background: var(--blue); */
    background: var(--admin-main);
    overflow: hidden;
    padding: 3rem 1rem 3rem 0;
    width:25rem;
    height:100%;
    position: fixed;
    top: 6rem;
    right: 0;
}
  .sidebar__lists {
    width: 100%;
  }

  .sidebar__img {
    display: block;
    filter: brightness(0) invert(1);
  }
  .sidebar__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--white);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
  }

  
  /* .sidebar__link:hover::before,
  .activedSidebar.sidebar__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: transparent;
    box-shadow: -3.5rem 3.5rem 0 1rem var(--white);
  }
  
  .sidebar__link:hover::after,
  .activedSidebar.sidebar__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: transparent;
    box-shadow: -3.5rem -3.5rem 0 1rem var(--white);
  } */