.quantity {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--gray);
    border-radius: var(--border-box);
    position: relative;
    margin: 0 .5rem;
  }
  .quantity__btn{
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    cursor: pointer;
  }
  .quantity__btnRight{
    border-left: 1px solid var(--gray);
  }
  .quantity__btnLeft{
    border-right: 1px solid var(--gray);

  }
  .quantity__input {
    height: 100%;
    max-width: 4rem;
    display: inline-block;
    color: var(--black-50);
    padding: 0.3rem;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 1.3rem;
  }
 input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

.quantity__icon{
  display: inline-block;
  color: #7c7c7c;
}
