/* start font face */
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/IRANSansX-Regular.woff") format("woff"),
    url("/fonts/IRANSansX-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "IRANSansMed";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/IRANSansX-Medium.woff") format("woff"),
    url("/fonts/IRANSansX-Medium.woff2") format("woff2");
}

/* end font face */
/* start css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: unset;
}
/* end css reset */
/* start variabels */
:root {
  --black-50: #333;
  /* --main-backgroundColor: #eff1f5; */
  --main-backgroundColor: #f1f1f1;
  --iran: "IRANSans", sans-serif;
  --iran-bold: "IRANSansMed", sans-serif;
  --white: #fff;
  --black: #000;
  --padding: 1rem;
  --border-box: 0.5rem;
  --gold: #ffc212;
  --yellow: #ffab00;
  --blue: #1f75fe;
  --blue-hover: #1c39bb;
  --purple: #77037b;
  --purple-25: rgba(166, 105, 219, 0.2);
  --green: #00cc67;
  --error-text: #e4b7b9;
  --gray: #eee;
  --gray-text: #6b6b6b;
  --gray-100: #444;
  --gray-50: #d3d3d3;
  --gray-25: #c0c0c0;
  --gray-05: #80848a08;
  --red: #a3080c;
  --red-50: #ff4242;
  --red-05: #ff9a9a;
  --red-25: rgba(255, 66, 66, 0.2);
  --border-btn: 2.5rem;
  --box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  --linear: linear-gradient(90deg, #0c97fa, #16e1f5);
  --skeleton: #0000001c;
}
/* end variabels */
/* start default */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  font-size: 1.6rem;
  box-sizing: inherit;
  direction: rtl;
  background-color: var(--main-backgroundColor);
  font-family: var(--iran-bold);
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
  font-family: var(--iran);
}
a {
  text-decoration: none;
}

/* end default */
/* start helper */
.row_reverce {
  flex-direction: row-reverse;
}
.full--width {
  width: 100%;
}

.f-24 {
  font-size: 2.6rem;
  display: inline-block;
  vertical-align: middle;
}
.btn--disable {
  background: var(--gray-25);
}
.auth {
  width: 100%;
  height: 100vh;
  background: var(--linear);
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__wrapper {
  width: 36rem;
  background: var(--white);
  border-radius: var(--border-box);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: scroll;
}
.auth__wrapper::-webkit-scrollbar {
  display: none;
}
.auth__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.auth__logoBox {
  margin: 2rem auto 0.5rem auto;
}
.auth__logoimg {
  max-width: 100%;
  height: 3rem;
}
.auth__title {
  color: var(--black-50);
  font-weight: 600;
  padding-right: 1.5rem;
  position: relative;
}
.auth__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0.3rem;
  background: var(--blue);
  border-radius: var(--border-box);
}

.auth__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem 1.5rem 1rem 1rem;
}
.auth__form::-webkit-scrollbar {
  display: none;
}

.productBox {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: var(--border-box);
  background: var(--white);
  padding: 1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.product__imgBox {
  width: 100%;
  height: auto;
  margin: 2rem auto;
}
.product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fullIcon {
  width: inherit;
  height: inherit;
}

.productPrice {
  color: var(--gray-text);
  font-size: 1.2rem;
  display: inline-block;
  line-height: 2;
}
.currentPrice {
  font-size: 1.2rem;
  color: var(--blue);
  display: inline-block;
  margin-right: 1rem;
  line-height: 2;
}
.toman {
  font-size: 70%;
  color: var(--black-50);
  margin-right: 0.4rem;
}
.section__btn {
  color: var(--white);
  background: var(--blue);
  border-radius: 50%;
}

.small__star {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}
.starCount {
  font-family: var(--iran);
  font-size: 1.3rem;
  margin-left: 0.3rem;
  color: var(--black-50);
}

.priceBox {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
}
.mainHasTooltip {
  position: relative;
  transition: all 0.3s;
}
.tooltip {
  position: absolute;
  background-color: var(--black-50);
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: var(--white);
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  border-radius: var(--border-box);
  white-space: nowrap;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-right: auto;
  transform: translateX(-50%);
  border: 0.7rem solid;
  border-color: var(--black-50) transparent transparent transparent;
}
.mainHasTooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
.starBox {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.1rem;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  font-size: 1.8rem;
  display: inline-block;
}
.iconRed {
  color: var(--red-50);
}
.acvtive {
  color: var(--gold);
}
.loadingSpiner {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: var(--gray);
  border: 0.5rem solid #ddd;
  border-top-color: rgba(0, 0, 0, 0.3);
  margin: 3rem auto;
  transition: all 0.3s;
  animation: spiner 1.3s linear infinite;
}
.sectionHeader__icon {
  font-size: 2.6rem;
  color: var(--black-50);
}
.cartItem__loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
.cartItem__spinner {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--gray-50);
  border-top-color: var(--gray-text);
  z-index: 3;
  animation: loaderRotate 1s linear infinite;
}
.filter__input {
  width: 100%;
  height: 5rem;
  display: block;
  border: 1px solid var(--gray-50);
  padding: 1rem;
  border-radius: var(--border-box);
  font-size: 1.2rem;
}

.ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}
.ss03 {
  -moz-font-feature-settings: "ss03";
  -webkit-font-feature-settings: "ss03";
  font-feature-settings: "ss03";
}

/* end helper */

/*start responsive */
.container {
  width: 100%;
  max-width: 135rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -1rem;
}

.col {
  max-width: 100%;
  flex-grow: 1;
  padding: 1rem;
}
.col-1 {
  width: 8.333333%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-2 {
  width: 16.666666%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-3 {
  width: 25%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-4 {
  width: 33.333332%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-5 {
  width: 41.666665%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-6 {
  width: 50%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-7 {
  width: 58.333331%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-8 {
  width: 66.666664%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-9 {
  width: 75%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-10 {
  width: 83.33333%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-11 {
  width: 91.666663%;
  flex: 0 0 auto;
  padding: 1rem;
}
.col-12 {
  width: 100%;
  flex: 0 0 auto;
  padding: 1rem;
}
@media (min-width: 576px) {
  /* .container {
    width: 57rem;
  } */
  .row {
    margin-left: auto;
    margin-right: auto;
  }
  .col-sm-1 {
    width: 8.333333%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-2 {
    width: 16.666666%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-3 {
    width: 25%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-4 {
    width: 33.333332%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-5 {
    width: 41.666665%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-6 {
    width: 50%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-7 {
    width: 58.333331%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-8 {
    width: 66.666664%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-9 {
    width: 75%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-10 {
    width: 83.33333%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-11 {
    width: 91.666663%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-sm-12 {
    width: 100%;
    flex: 0 0 auto;
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  /* .container {
    width: 76rem;
  } */
  .col-md-1 {
    width: 8.333333%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-2 {
    width: 16.666666%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-3 {
    width: 25%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-4 {
    width: 33.333332%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-5 {
    width: 41.666665%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-6 {
    width: 50%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-7 {
    width: 58.333331%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.666664%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-10 {
    width: 83.33333%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-11 {
    width: 91.666663%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-md-12 {
    width: 100%;
    flex: 0 0 auto;
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  /* .container {
    width: 98rem;
  } */
  .col-lg-1 {
    width: 8.333333%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-2 {
    width: 16.666666%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-3 {
    width: 25%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-4 {
    width: 33.333332%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-5 {
    width: 41.666665%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-6 {
    width: 50%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-7 {
    width: 58.333331%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-8 {
    width: 66.666664%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-9 {
    width: 75%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-10 {
    width: 83.33333%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-11 {
    width: 91.666663%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-lg-12 {
    width: 100%;
    flex: 0 0 auto;
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  /* .container {
    width: 119rem;
  } */
  .col-xl-1 {
    width: 8.333333%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-2 {
    width: 16.666666%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-3 {
    width: 25%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-4 {
    width: 33.333332%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-5 {
    width: 41.666665%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-6 {
    width: 50%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-7 {
    width: 58.333331%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-8 {
    width: 66.666664%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-9 {
    width: 75%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-10 {
    width: 83.33333%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-11 {
    width: 91.666663%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xl-12 {
    width: 100%;
    flex: 0 0 auto;
    padding: 1rem;
  }
}

@media (min-width: 1400px) {
  /* .container {
    width: 138rem;
  } */
  .col-xxl-1 {
    width: 8.333333%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-2 {
    width: 16.666666%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-3 {
    width: 25%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-4 {
    width: 33.333332%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-5 {
    width: 41.666665%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-6 {
    width: 50%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-7 {
    width: 58.333331%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-8 {
    width: 66.666664%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-9 {
    width: 75%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-10 {
    width: 83.33333%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-11 {
    width: 91.666663%;
    flex: 0 0 auto;
    padding: 1rem;
  }
  .col-xxl-12 {
    width: 100%;
    flex: 0 0 auto;
    padding: 1rem;
  }
}
/*end responsive */
/* start animation */
@keyframes spiner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loaderRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* end animation */
