.sidebarItem,.sidebar__submenuItem {
    width: 100%;
    display: block;
    line-height: 4rem;
    position: relative;
    
  }
  .sidebarItem{
    padding-right: 1rem;

  }
  .sidebarItem:not(:first-child),.sidebar__submenuItem:not(:first-child){
    margin-top: 1rem;
  }
.sidebarLink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--white);
    padding-right: 1.5rem;
    transition: all .3s;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}
.sidebarLink:hover,
.sidebarLink--active{
    background: #044557;

}
.sidebarItem__mainIcon{
    font-size: 1.9rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
  }
.sidebarItem__iconDown{
    margin-left: 2rem;
    transition: all .3s;
}
.sidebarItem__iconDown.rotate{
  transform: rotate(180deg);
}
.sidebar__submenu{
  padding-top: 2rem;
  margin-right: 1rem;
  display: none;
}
.sidebar__submenu--show{
display: block;


}

