/* 
.table{
color: var(--gray-50);
font-size: 1.2rem;
width: 100%;
text-align: center;
}
.table tr:not(:last-child){
    border-bottom: 1px solid var(--gray);
    
}
.table th {
    font-size: 1.3rem;
    vertical-align: middle;
    padding: 1rem 0;

}
.table td {
    padding: .5rem 0;
    vertical-align: middle;
}
.adminTable__img{
width: 4rem;
height: 4rem;
}
.table tr{
    border-bottom: 1px solid var(--gray);
}
.table th {
    font-size: 1.3rem;
}
.adminTable__img{
width: 4rem;
border-radius: 50%;
} */