.colorFilter {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  flex-wrap: wrap;
}
.colerFilter__itemBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray-text);
  flex: 0 0 25%;
  margin: 0.7rem 0;
}
.colorFilter__itemImageBox {
  border: 0.1rem solid #e0e0e6;
  padding: 0.5rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.9rem;
  cursor: pointer;
}
.colorFilter__itemImageBox.selecedColor{
  border: .3rem solid var(--blue);
}
.color__option {
  border-radius: 0.9rem;
  border: 0.1rem solid #e0e0e6;
  width: 100%;
  height: 100%;
}
.colerFilter__itemTitle {
  margin-top: 0.7rem;
  font-family: var(--iran);
  font-size: 1.2rem;

}
