.sideBarCartItem {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 1.5rem;
  border-bottom: 1px solid #eaeaec;
  background: var(--white);
  position: relative;
}

.sideBarCartItem__imgBox {
  position: relative;
  width: 5.5rem;
  height: 5.5rem;
  padding: 0.5rem;
}
.sideBarCartItem__priceBox {
  width: calc(25rem - 5.5rem);
}
.sideBarCartItem__Link {
  display: block;
  width: 100%;
  height: 100%;
}
.sideBarCartItem__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-box);
}
.sideBarCartItem__removeIcon {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: inline-block;
  color: var(--red-50);
  font-size: 1.6rem;
  cursor: pointer;
}
.sideBarCartItem__LinkText {
  font-size: 11px;
  color: #777;
  display: block;
}
