


.linkBox__link {
    width: 100%;
    /* height: 9rem; */
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-box);
    box-shadow: var(--box-shadow);
    background: var(--white);
    transition: all 0.3s;
    border: 2px solid var(--gray);
}
.linkBox__link:hover {
    border-color: var(--blue);
  }
.linkBox__iconBox {
    margin-top: 2.5rem;
  color: var(--black-50);
}

.linkBox__title {
  display: block;
  color: var(--black-50);
  font-family: var(--Iran-bold);
  font-size: 1.3rem;
  margin: 1rem;
  transition: all 0.3s;
}
.linkBox__link:hover .linkBox__title {
  color: var(--blue);
}
