


.linkBox__link {
    flex-grow: 1;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-box);
    box-shadow: var(--box-shadow);
    background: var(--white);
    transition: all 0.3s;
    border: 1px solid var(--gray);
    overflow: hidden;
}
.linkBox__link:hover {
    border-color: var(--blue);
  }
.linkBox__iconBox {
    margin-top: 2.5rem;
  color: var(--black-50);
}

.linkBox__title {
  display: block;
  color: var(--black-50);
  font-family: var(--iran-bold);
  font-size: 1.2rem;
  margin: 1rem 0;
  transition: all 0.3s;
}
.linkBox__link:hover .linkBox__title {
  color: var(--blue);
}
.linkBox__link span{
  font-size: 1.1rem;
  color: #7e7e7e;
}