
.suggestedproduct__title {
  margin-top: 1rem;
  width: 100%;
  height: 2.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: var(--Iran-bold);
}
.suggestedproduct__link {
    display: block;
  white-space: nowrap;
  overflow: hidden;
  color: var(--gray-50);
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
  text-overflow: ellipsis;
}

.suggestedproduct__time-Percent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
}
.suggestedproduct__percent {
  background: var(--red-50);
  height: 1.9rem;
  border-radius: 0 1.5rem 1.5rem 0;
  font-size: 1.2rem;
  padding: 0.2rem 0.6rem 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0.4rem 0 0.4rem rgba(0, 0, 0, 0.25);
}
.suggestedproduct__percent span {
  color: var(--white);
  font-family: var(--Iran-number);
  display: block;
}
.suggestedproduct__time {
  font-family: var(--Iran-number);
  font-size: 1.2rem;
  color: #828282;
}
.timer {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}
.suggestedproduct__time-gold {
  color: var(--gold);
  margin-left: 0.2rem;
}
.suggestedproduct__icon-box {
  width: 1.8rem;
  height: 1.8rem;
  color: #c7c7c7;
}
