.register__btn{
    display: block;
    color: var(--white);
    height: 4rem;
    border-radius: var(--border-box);
    border:none;
    outline: none;
    margin:1rem 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  }
.register__btn--active{
    background: var(--linear);
    cursor: pointer;
    transition: all .3s;

  }
  .register__btn--disable{
    background: #848484;
  }
  .register__btn--active:hover{
    background: var(--blue-hover);
  }